<a href="https://colab.research.google.com/github/AngelicaDC/BEDUpython/blob/main/Sesion-07/Reto-01casting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reto 1: Casting

### 1. Objetivos:
    - Aplicar diversas técnicas de casting a un dataset nuevo
 
---
    
### 2. Desarrollo:

#### a) Transformando tipos de datos

Vamos a trabajar con una versión un poco modificada del dataset que creaste en la sesión pasada. Si bien recuerdas, al final de la sesión pasada automatizamos un programa de Python para obtener un `DataFrame` con todos los objetos que orbitaron cerca de la Tierra en Enero y Febrero de 1995. Para construir este dataset, usamos el API gratuito que ofrece la [NASA](https://api.nasa.gov/).

Me tomé la libertad de modificar un poco dicho dataset para que pudiera ser utilizado más efectivamente para los fines de esta sesión. Encontrarás la versión modificada en la ruta '../../Datasets/near_earth_objects-jan_feb_1995-dirty.csv'. Todos los Retos de esta sesión los harás con ese conjunto de datos.

Te recomiendo que al finalizar cada reto guardes la nueva versión modificada de tu dataset bajo un nombre que indique el reto realizado (por ejemplo, 'near_earth_objects-jan_feb_1995-reto_1.csv'), para que puedas ir trabajando incrementalmente a través de los retos y no tengas que repetir procesos. Puedes guardar conjuntos de datos en formato `csv` usando el método `DataFrame.to_csv('ruta')`.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
df = pd.read_csv('drive/MyDrive/BEDU/Datasets/near_earth_objects-jan_feb_1995-dirty.csv', index_col=0)

In [6]:
df.head()

                      id_name  ...                            orbit_class_description
0  2154652-154652 (2004 EP20)  ...    Near-Earth-asteroid-orbits-similar-to-that-o...
1           3153509-(2003 HM)  ...    Near-Earth-asteroid-orbits-which-cross-the-E...
2           3516633-(2010 HA)  ...    Near-Earth-asteroid-orbits-similar-to-that-o...
3          3837644-(2019 AY3)  ...    Near-Earth-asteroid-orbits-similar-to-that-o...
4           3843493-(2019 PY)  ...   Near-Earth-asteroid-orbits-similar-to-that-of...

[5 rows x 10 columns]

In [7]:
df.info

<bound method DataFrame.info of                          id_name  ...                            orbit_class_description
0     2154652-154652 (2004 EP20)  ...    Near-Earth-asteroid-orbits-similar-to-that-o...
1              3153509-(2003 HM)  ...    Near-Earth-asteroid-orbits-which-cross-the-E...
2              3516633-(2010 HA)  ...    Near-Earth-asteroid-orbits-similar-to-that-o...
3             3837644-(2019 AY3)  ...    Near-Earth-asteroid-orbits-similar-to-that-o...
4              3843493-(2019 PY)  ...   Near-Earth-asteroid-orbits-similar-to-that-of...
..                           ...  ...                                                ...
328  2267136-267136 (2000 EF104)  ...    Near-Earth-asteroid-orbits-similar-to-that-o...
329           3360486-(2006 WE4)  ...    Near-Earth-asteroid-orbits-which-cross-the-E...
330           3656919-(2014 BG3)  ...   An-asteroid-orbit-contained-entirely-within-t...
331           3803762-(2018 GY4)  ...    Near-Earth-asteroid-orbits-similar-to-that-o...
332           3989652-(2020 CH1)  ...   Near-Earth-asteroid-orbits-similar-to-that-of...

[333 rows x 10 columns]>

In [30]:
df.dtypes

id_name                                                     object
is_potentially_hazardous_asteroid                             bool
estimated_diameter.meters.estimated_diameter_min           float64
estimated_diameter.meters.estimated_diameter_max           float64
close_approach_date                                 datetime64[ns]
epoch_date_close_approach                           datetime64[ns]
orbiting_body                                               object
relative_velocity.kilometers_per_second                    float64
relative_velocity.kilometers_per_hour                      float64
orbit_class_description                                     object
dtype: object

Tu primer Reto consistirá en seguir los siguientes pasos:

1. Lee el dataset y crea un `DataFrame` con él.
2. Realiza una pequeña exploración para familiarizarte con él.
3. Convierte la columna `relative_velocity.kilometers_per_hour` de `object` a `float64`.
4. Convierte la columna `close_approach_date` a tipo de dato `datetime64[ms]` usando el método `astype` y un diccionario de conversión.
5. Convierte la columna `epoch_date_close_approach` a tipo de dato `datetime64[ms]` usando el método `to_datetime`.
6. Asigna el `DataFrame` resultante a la variable `df_reto_1`.
7. Guarda tu resultado en un archivo .csv.

In [11]:
df['relative_velocity.kilometers_per_hour'] = pd.to_numeric(df['relative_velocity.kilometers_per_hour'], errors='coerce')

In [15]:
diccionario_de_conversion={
    "close_approach_date":"datetime64[ms]"
}

In [16]:
df = df.astype(diccionario_de_conversion)

In [29]:
df['epoch_date_close_approach'] = pd.to_datetime(df['epoch_date_close_approach'], unit='ms')

Pídele a tu experta la función de verificación `checar_conversiones` (encontrada en el archivo `helpers.py` de la carpeta donde se encuentra este Reto), pégala debajo y corre la celda para verificar tu resultado:

In [26]:
df_reto_1 = df.copy()
df_reto_1.to_csv('drive/MyDrive/BEDU/df_reto_1.csv')

In [28]:
def checar_conversiones(df_reto_1):
    
    import pandas as pd
    import pandas.api.types as ptypes
    
    assert ptypes.is_float_dtype(df_reto_1['relative_velocity.kilometers_per_hour']), 'Cuidado... La columna `relative_velocity.kilometers_per_hour` no es de tipo `float64`'
    assert ptypes.is_datetime64_any_dtype(df_reto_1['close_approach_date']), 'Cuidado... La columna `close_approach_date` no es de tipo `datetime64[ns]`'
    assert ptypes.is_datetime64_any_dtype(df_reto_1['epoch_date_close_approach']), 'Cuidado... La columna `epoch_date_close_approach` no es de tipo `datetime64[ns]'
    
    print(f'¡Éxito! ¡Todas tus conversiones fueron realizadas adecuadamente!')

checar_conversiones(df_reto_1)

¡Éxito! ¡Todas tus conversiones fueron realizadas adecuadamente!

<details><summary>Solución</summary>

```python
df = pd.read_csv('../../Datasets/near_earth_objects-jan_feb_1995-dirty.csv', index_col=0)
df['relative_velocity.kilometers_per_hour'] = pd.to_numeric(df['relative_velocity.kilometers_per_hour'], errors='coerce')
df = df.dropna(axis=0).reset_index(drop=True)
df['relative_velocity.kilometers_per_hour'] = df['relative_velocity.kilometers_per_hour'].astype(float)
diccionario_de_conversion = {
    'close_approach_date': 'datetime64[ms]'
}
df = df.astype(diccionario_de_conversion)
df['epoch_date_close_approach'] = pd.to_datetime(df['epoch_date_close_approach'], unit='ms')
df_reto_1 = df.copy()
```
    
</details>

In [31]:
df_reto_1

                         id_name  ...                            orbit_class_description
0     2154652-154652 (2004 EP20)  ...    Near-Earth-asteroid-orbits-similar-to-that-o...
1              3153509-(2003 HM)  ...    Near-Earth-asteroid-orbits-which-cross-the-E...
2              3516633-(2010 HA)  ...    Near-Earth-asteroid-orbits-similar-to-that-o...
3             3837644-(2019 AY3)  ...    Near-Earth-asteroid-orbits-similar-to-that-o...
4              3843493-(2019 PY)  ...   Near-Earth-asteroid-orbits-similar-to-that-of...
..                           ...  ...                                                ...
328  2267136-267136 (2000 EF104)  ...    Near-Earth-asteroid-orbits-similar-to-that-o...
329           3360486-(2006 WE4)  ...    Near-Earth-asteroid-orbits-which-cross-the-E...
330           3656919-(2014 BG3)  ...   An-asteroid-orbit-contained-entirely-within-t...
331           3803762-(2018 GY4)  ...    Near-Earth-asteroid-orbits-similar-to-that-o...
332           3989652-(2020 CH1)  ...   Near-Earth-asteroid-orbits-similar-to-that-of...

[333 rows x 10 columns]